.main {
  border: 2px solid black;
  margin: 0 auto;
  width: 1000px;
  height: 800px;
  /* background-color: #78e08f; */
}
.groupslist{
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 70%;
  height: 6%;
  margin-bottom: 5px;
  cursor: pointer;
}
.listgroup{
  list-style: none;
}
.header{
  height: 7%;
  background-color: #a5adc5;
}
.chat-full{
  height: 80%;
  display: flex;
}
.group-list{
  width: 30%;
  background-color: #91EAE4;
  overflow-y: scroll;
  overflow-x: hidden;
}

.actions{
  display: flex;
  height: 12.9%;
  background-color: #86A8E7;
}
.add-group{
  width: 30%;
}
.send-message{
  width: 70%;
  /* background-color: chartreuse; */
}

.text-area{
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 160px);
  position: relative;
  padding: 0 20px;
}
.send-msg{
  width: 120px;
  height: 50px;
  margin-top: -50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}

.chat{
  position: absolute;
  margin-top: 5px;
  width: calc(100% - 20px);
  max-width: 700px;
  height: 640px;
  border-radius: 10px;
  background-color: #fff;
  left: 50%;
  top: 50%;
  transform: translateX(-29%) translateY(-60%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  background-color: #f8f8f8;
  overflow-y: scroll;
  overflow-x: hidden;
}



/* .message.messages {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
} */
.send-msg:hover {
  color: #a3d063;
  background-color: #fff;
}

.send-msg.text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}


.modal{
  width: 30%;
  height: 20%;
  margin: 200px auto;
  background-color: #252b3f;
  border: 3px solid #454d63;
  border-radius: 15px;
}
.text{
  color: lightgray;
  padding-left: 20px;
  font-size: 21px;
}
.username-area{
  margin-left: 66px;
  padding-top: 10px;
  color: white;
  margin-bottom: 20px;
  background-color: transparent;
  border-inline-start: none;
  border-inline-end: none;
  border-block-start: none;
  border-block-end-color: gray;
}
.usernameButton{
  margin-left: 105px;
  margin-top: 23px;
  width: 34%;
  padding: 4px;
  border-radius: 4px;
  font-size: 17px;
  border: 1px solid #0f75af;
  background-color: #3e89b7;
}
.message{
  position: relative;
  /* background-color: #f5886e; */
}
