<div *ngIf="!username">
  <div class="modal">
    <p class="text">Enter username</p>
    <form [formGroup]="usernameForm">
      <input class="username-area" formControlName="username" type="textarea">
      <button class="usernameButton" (click)=" saveUsername()">Confirm</button>
    </form>
  </div>
</div>
<div class="main" *ngIf="username">
  <div class="header"></div>
  <div class="chat-full">
    <div class="group-list">
      <ul>
        <li *ngFor="let group of chatGroups" (click)="openChat(group)">{{group.name}}</li>
      </ul>
    </div>
    <div class="chat">
      <div class="message" *ngFor="let messages of messageTobeShownInchat"
        [style.text-align]=" username === messages.sender ? 'right':'left'" (click)="editMesage(messages)">
        {{messages.sender}}<br>
        {{messages.context}}<br>
        {{messages.time}}</div>
    </div>
  </div>
  <div class="actions">
    <div class="add-group">
      <button class="addClass" mat-raised-button (click)="addGroup()">
        <mat-icon>add</mat-icon>Add Chat Group
      </button>
    </div>
    <div class="send-message">
      <form [formGroup]="messageForm" *ngIf="chatId!=''" (submit)="sendMessage()" enctype="multipart/form-data" >
        <input class="text-area" formControlName="message" type="textarea" placeholder="Send a message" />
        <input class="text-area" formControlName="file" type="file" placeholder="Upload Image"
          (change)="onFileSelected($event)" />
        <button  type="submit" class="send-msg" >Send</button>
      </form>

    </div>
  </div>
</div>